<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="center">
        <h1>Product</h1>
        <form method="post" action="/submit_product" id="product_input">
          <div class="txt_field">
            <input type="text" name="product_name" required>
            <span></span>
            <label>Product name</label>
          </div>
          <div class="txt_field">
            <input type="text" name="price" required>
            <span></span>
            <label>Price</label>
          </div>
          <input type="submit" value="Create">
        </form>
    </div>
</body>
</html>
